ul {
    border: 1px solid lightgrey;
    display: flex;
    flex-flow: column nowrap; 
    margin: auto;
    padding: 0.2% 0 0.2% 0;
    width: 50%;
}


li {
    list-style: none;
    padding: 1% 0% 1% 1%;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

li:active {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}